
  /* MENI */
  .top {
    background-color:#000000;
    margin: 0px;
    list-style-type:none;
  }
  
  /* Style the links inside the navigation bar */
  .top a {
    float: right;
    color: white;
    text-align: center;
    padding: 38px 10px;
    text-decoration: none;
    font-size: 30px;
    font-style:oblique;
  }
  
  /* Change the color of links on hover */
  .top a:hover {
    background-color: brown;
  }
  
  
  /* Style the search box inside the navigation bar */
  .top input[type=text] {
    padding: 7px;
    border: none;
    font-size: 15px;
  }
  .top .search-container button {
    float:right;
    padding: 10px 20px;
    background:black;
    font-size: 17px;
    border: 2px;
    cursor: pointer;
  }
  
  
  .top .search-container button:hover {
    background: black;
  }
  /* Dropdown Button */
  
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 17px 17px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display:none;
    position:absolute;
    background-color: black;
    color: white;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float:inherit;
    border:3px;
    padding: 17px 17px;
    text-decoration:underline;
    text-transform:uppercase;
    display:block;
    text-align: left;
    font-size: 15px;
  }
  
  .dropdown-content a:hover {
    background-color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .top img {
    width: 140px;
    height: 120px;
    padding:0px;
  }
  .bg {
      background-image: url("/image/b1.jpg");
      position: center;
      height: 100%;
      font-weight: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
    }
  
  
  
    .rowline
    {
  
      display: inline-block;
      text-align: center;
      padding: 0px;
      position:center;
    }
  
  
    .container {
      display: block;
      float: left;
  
      position: relative;
      max-width: 250px;
      margin-right: 50px;
      top: 25%;
      left: 25%;
  
    }
  
  
    .container img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    
    }
  
    .container .content {
      /* inline */
      position: absolute;
      bottom: 0;
      background: rgb(0, 0, 0); /* Fallback color */
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      width: 100%;
      padding: 0px;
  
  
    }
  /*tekst preko slike*/
  .textOverImage{
        width:250px;
        height:400px;
        display:inline-block;
        border-radius:4px;
        margin:4px;
        cursor:pointer;
        overflow:hidden;
      }
  .textOverImage > input{
        display:none;
      }
  
  .textOverImage > div{
        background-size:contain;
        background-color:rgba(0,0,0,0.5);
        color: #f1f1f1;
        height:98%;
        padding:10px;
        overflow:hidden;
        opacity:0;
        transition:2s;
        font-size: 14px;
        text-align:justify;
  
      }
  .textOverImage > h2{
        position:absolute;
        background-color:rgba(255,255,255,0.8);
        bottom:30px;
        left:4px;
        right:4px;
        border-radius:40px;
        padding:8px;
        overflow:hidden;
        opacity:0;
        transition:1.5s;
        font-size: 20px;
        text-align:center;
  
      }
  
  .textOverImage:hover > h2,.textOverImage > input:checked + h2 + div{
        opacity:2;
      }
  
  .textOverImage > input:checked + h2{
        bottom:-20px;
        opacity:0;
      }