<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" th:href="@{/style/style.css}" href="/style/style.css">
</head>
<div>
    <ul class="top">

        <li><a th:href="@{'/kategorije/kupac'}">Pregled Artikala</a></li>
        <li><a th:text="${uloga}" style="display: block"></a></li>

        <li>
            <div class="slika">
                <img th:src="@{/image/logo.png}">
            </div>
        </li>
    </ul>
</div>
<div class="bg">
    <div class="rowline">
        <div class="container">
            <label class="textOverImage" th:style="'background-image:url(/image/tesla.jpg);'">
                <input type="checkbox">
                <h2>"Ilon Mask: Tesla, SpaceX i potraga za fantastičnom budućnošću" <br> Cena: 912,23 din <br> Ešli Vens
                </h2>
                <div>
                    U knjizi Ilon Mask: Tesla, SpaceX i potraga za fantastičnom budućnošću, tehnološki novinar Ešli Vens
                    daje prvi insajderski pogled na izuzetan život i doba najneustrašivijeg preduzetnika iz Silicijumske
                    doline - današnjeg amalgama legendarnih pronalazača i industrijalaca poput Tomasa Edisona, Henrija
                    Forda, Hauarda Hjuza i Stiva Džobsa. Ekskluzivnim pristupom Maskovom privatnom životu, porodici i
                    prijateljima, knjiga opisuje preduzetnikovo putovanje od teškog detinjstva u Južnoj Africi do samog
                    vrha globalnog poslovnog sveta.
            </label>
        </div>
    </div>
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/dostojevski.jpg);'">
            <input type="checkbox">
            <h2>"Zločin i kazna" <br> Cena: 1314,65 din <br>Fjodor Mihailovič Dostojevski </h2>
            <div>
                Remek-delo ruske književnosti, Zločin i kazna, Dostojevskog svrstalo je u red najznačajnijih svetskih
                romanopisaca. Oslanjajući se na sopstveno iskustvo iz zatvorskih dana, u grozničavom tonu i na ubedljiv
                način, autor pripoveda priču o Raskoljnikovu – siromašnom studentu mučenom nihilizmom i borbom između
                dobra i zla. Verujući za sebe da je iznad zakona, i ubeđen u to da viši ciljevi opravdavaju sredstvo, on
                brutalno ubija lihvarku za koju kaže da je „ništavna, zla, bolesna baba koja nikome nije potrebna...
                koja ni sama ne zna zašto živi i koja će ionako već danas-sutra umreti“.
            </div>
        </label>
    </div>
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/sarma.jpg);'">
            <input type="checkbox">
            <h2>"Budni u 5" <br> Cena: 712,65 din <br> Robin Šarma </h2>
            <div>
                Pre dvadeset godina, ovaj legendarni stručnjak za liderstvo i elitni performans predstavio je
                konceptBudni u pet (i vaš je čitav svet), zasnovan na revolucionarnoj jutarnjoj rutini koja je pomogla
                njegovim klijentima da povećaju produktivnost, poboljšaju zdravstveno stanje i sačuvaju smirenost u
                previše komplikovanom svetu. Nakon četiri godine predanog rada na rukopisu, pred vama je knjiga koja će
                vam u potpunosti izmeniti život i otkriti da je navika ustajanja rano ujutru mnogima pomogla da ostvare
                izvanredne rezultate i istovremeno budu srećni, ispunjeni i osećaju se korisnije.
            </div>
        </label>
    </div>
</div>
<div class="rowline">
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/ljubav.jpg);'">
            <input type="checkbox">
            <h2>"Ljubav u doba kokaina"<br> Cena: 312,95 din <br> Simonida Milojković </h2>
            <div>
                Ljubav u doba kokaina je dramatična i porazna ispovest beogradske studentkinje, koju je njen mladić
                gurnuo u pakao droge. Glavna junakinja Nina zaljubljuje se u svog vršnjaka, zavodnika i kozera Marka, i
                postaje zavisna od njegove pažnje i ljubavi. Ali njen svet se ruši kad je se on zasiti i kad je ostavi.
                Spremna je na sve da bi ga ponovo vratila, a kada joj on u jednom noćnom klubu ponudi kokain, bez
                razmišljanja prihvata: tako se njenoj zavisnosti od ljubavi pridružuje i zavisnost od teških droga...
            </div>
        </label>
    </div>
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/nik.jpg);'">
            <input type="checkbox">
            <h2>"Živeti slobodno" <br> Cena: 512,34 din <br> Nik Vujičić </h2>
            <div>
                Rođen bez ruku i nogu, Nik Vujičić je čovek koji je uspeo da prevaziđe svoje fizičke nedostatke i vodi
                nezavisan, bogat i ispunjen život, tako da može biti uzor svakome ko teži pravoj sreći. Stekao je
                međunarodno priznanje kao zagovornik sopstvene teorije motivacije, a njegova glavna poruka ljudima je da
                je najvažnije imati cilj u životu, bez obzira na sve teškoće i naizgled nepremostive prepreke.
            </div>
        </label>
    </div>
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/karnegi.jpg);'">
            <input type="checkbox">
            <h2>"Majstori uspeha" <br> Cena: 819,97 din <br> Napoleon Hil, Džozef Marfi i Dejl Karnegi </h2>
            <div>
                Tri navike kojima ćete postići uspeh u finansijama, ljubavi, zdravlju i životu.Trojica najuticajnijih
                autora našeg vremena nude vam proveren i dosledan plan da ostvarite uspeh u svim oblastima života.Ovo je
                knjiga o načinu na koji svet, zapravo, funkcioniše. Postoje nevidljivi principi koji upravljaju
                pretvaranjem želja u stvarnost, a oni počivaju u našem umu. Ovde su opisani jasno i jednostavno:
                pridržavajte se sistema i postići ćete uspeh.Odgovori koje tražite već leže u vašem umu, u moći koja
                stoji na raspolaganju svim ljudima sveta već u ovom trenutku. Ovi autori vam samo pokazuju da je vaš um
                već sposoban da postigne uspeh, a ako se zagledate u sebe i počnete od svoje istinske želje, to će vas
                dovesti do ideje.
            </div>
        </label>
    </div>
</div>
<div class="rowline">
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/julija.jpg);'">
            <input type="checkbox">
            <h2>"Juljn odgovor" <br> Cena: 299,99 din <br> Glen Dikson </h2>
            <div>
                Potraga jednog čoveka za ljubavlju i neuhvatljivim lekom protiv ljubavne patnje.U toj lepoj Veroni, gde
                se radnja zbiva...Kada mu ljubav prezrivo okrene leđa, Glen Dikson učini nešto neobično. Otputuje u
                italijanski grad Veronu. Kada se nađe tamo, dobrovoljno se javlja da odgovara na hiljade pisama koja
                stižu Šekspirovoj Juliji, pisama napuštenih ljubavnika iz svih krajeva sveta koji žude da proniknu u
                tajne ljudskog srca.
            </div>
        </label>
    </div>
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/romeo.jpg);'">
            <input type="checkbox">
            <h2>"Romeo i Julija" <br> Cena: 432,56 din <br> Vilijam Šekspir </h2>
            <div>
                Romeo i Julija pripadaju dvema suprotstavljenim porodicama – Montagi i Kapulet. Međutim, njih dvoje se
                zaljubljuju i rešeni su da prevaziđu sve prepreke kako bi bili zajedno.Radnja se dodatno komplikuje kada
                Romeo spletom nesrećnih okolnosti ubija Julijinog rođaka Tibalta i prinuđen je da beži iz grada Verone.
                Dvoje zaljubljenih tada bivaju prinuđeni da sprovedu jedan rizičan plan, koji će ih odvesti pravo u
                smrt.
            </div>
        </label>
    </div>
    <div class="container">
        <label class="textOverImage" th:style="'background-image:url(/image/aljaska.jpg);'">
            <input type="checkbox">
            <h2>"U potrazi za Aljaskom" <br> Cena: 450,15 din <br> Džon Grin</h2>
            <div>
                Majls Halter je očaran čuvenim oproštajnim rečima – i umoran od bezbednog života u okrilju kuće. Zato
                odlazi u internat u potrazi za nečim što je pesnik Fransoa Rable na samrti nazvao „velikim možda“.
                Majlsa očekuje mnogo toga u Kalver Kriku, uključujući i Aljasku Jang. Pametna, zabavna, uvrnuta i
                ubistveno seksi, Aljaska će uvući Majlsa u svoj lavirint i katapultirati ga u pravcu velikog možda.U
                potrazi za Aljaskom prati neizbrisivi uticaj koji jedan život može ostaviti na drugi.
            </div>
        </label>
    </div>
</div>
</div>
<span id="korisnikDao" hidden th:text="${user}"></span>
<span id="korisnikId" hidden th:text="${id}"></span>
</body>

<script th:inline="javascript">
    var data = document.getElementById("korisnikDao").innerHTML;
    var id2 = document.getElementById("korisnikId").innerHTML;
    localStorage.setItem("user", data);
    localStorage.setItem("id",id2);
    alert(data);


</script>

</html>