<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kategorije</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" th:href="@{/style/style.css}" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div>
        <ul class="top">

            <li>
                <div class="dropdown">
                    <button class="dropbtn">Kategorije
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a th:href="@{/kategorije/Psihologija}">1.Popularna Psihologija</a>
                        <a th:href="@{/kategorije/Ljubavni}">2.Ljubavni Roman</a>
                        <a th:href="@{/kategorije/Kriminalistika}">3.Kriminalistika</a>
                        <a th:href="@{/kategorije/Biografija}">4.Biografija</a>

                    </div>
                </div>
            </li>
            <li>
                <div class="slika">
                    <img th:src="@{/image/logo.png}">
                </div>
            </li>
        </ul>
    </div>

    <center>
        <form> 
            Naziv: <input type="text" id='naziv'>
            Opis: <input type="text" id='opis' disabled=true>
            Minimalna cena: <input type="number" id='od'>
            Maksimalna cena: <input type="number" id='do'>
        </form>
        <br>
    
        <button onclick="location.href = 'http://localhost:8085/kategorije/popust'">Na popustu</button>
        <button onclick="location.href = 'http://localhost:8085/kategorije/sortirajc'">Sortiraj po ceni</button>
        <button onclick="location.href = 'http://localhost:8085/kategorije/sortirajn'">Sortiraj po nazivu</button>
        <button onclick="if (getElementById('naziv').value== '' ) getElementById('naziv').value=' '; location.href = 'http://localhost:8085/kategorije/1/1/1/1/'+getElementById('naziv').value;">Pretrazi po nazivu</button> <button onclick="if (getElementById('do').value=='') getElementById('do').value=10000;
    if (getElementById('od').value=='') getElementById('od').value=0;
    location.href = 'http://localhost:8085/kategorije/'+getElementById('od').value+'/'+getElementById('do').value;">Pretrazi
            po ceni</button>
        <button
            onclick="if (getElementById('do').value=='') getElementById('do').value=10000;
    if (getElementById('od').value=='') getElementById('od').value=0;
    if (getElementById('naziv').value== '' ) getElementById('naziv').value=' ';
    if (getElementById('opis').value== '' ) getElementById('opis').value=' ';
    location.href = 'http://localhost:8085/kategorije/'+getElementById('opis').value+'/'+getElementById('naziv').value+'/'+getElementById('od').value+'/'+getElementById('do').value;">Pretrazi</button>
        <table id="korisnici">
                <tr style="background-color: black; color: white;">
                    <th>Naziv</th>
                    <th>Cena</th>
                    <th>Kolicina</th>
                    <th>Kategorija</th>
                  
                </tr>

                <tr th:each="artikal : ${artikli}">
                    <td th:text="${artikal.naziv}"></td>
                    <td th:text="${artikal.cena}"></td>
                    <td th:text="${artikal.kolicina}"></td>
                    <td th:text="${artikal.kategorija}"></td>
                    <!-- <td><input type="checkbox" name="mycheckbox" value="${artikal.id}" ></td> -->
                   
                </tr>
               
        </table>
    </center>
    <!-- <center>
        <table id="korisnici"> 
            <h2>Korpa</h2>
            <form method="post" enctype="application/json" action="" id="" >
                <tr style="background-color: black; color: white;">
                    <th>Naziv</th>
                    <th>Cena</th>
                    <th>Kolicina</th>
                    <th>Kategorija</th>
                    <th>Korpa</th>
                    <th>Omiljeno</th>
                </tr>

                <tr th:each="artikal : ${artikli}">
                    <td th:text="${artikal.naziv}"></td>
                    <td th:text="${artikal.cena}"></td>
                    <td th:text="${artikal.kolicina}"></td>
                    <td th:text="${artikal.kategorija}"></td>
                    <td>
                        <input type="button" th:value="Kupi" id="kupi"
                        th:onclick="|kupovinaBas('${artikal.id}')|">
                        </input> 
                        </td>
                    <td>
                        <input type="button" th:value="Fav" id="omiljeno"
                        th:onclick="|OmIljeno('${artikal.id}')|">
                        </input> 
                    </td>
                </tr>
                <td><input type="submit" name="kupovina" value="Kupi"></td>
            </form>
        </table>
    </center> -->
</body>
<script th:inline="javascript">


        // $('#'+id).on('keyup mouseup', function() {
        //     var kol = $("#"+id).val();
        //     alert(kol);

        // }).trigger('mouseup');

    $(document).ready(function(){
        korpa = {}
        localStorage.setItem("korpa", JSON.stringify(korpa))
        console.log(korpa)
        return;
    })

    function kupovinaBas(id) {
        var korpa = JSON.parse(localStorage.getItem("korpa"));
        if(!korpa[id]) { korpa[id] = 1; }
        else{ korpa[id] = korpa[id] + 1;
        }

        localStorage.setItem("korpa", JSON.stringify(korpa))
        console.log(korpa)
    }

    function OmIljeno(vrednost) {
        
        let userid = localStorage.getItem("id");
        
        let url = "http://localhost:8085/omiljeni/" + userid+ "/" + vrednost;
        $.get(url, function() { })



    }

    function OmIljeno(vrednost) {
        
        let user = localStorage.getItem("user");
        let uloga2 = document.getElementById("ulogaKorisnika");
        
        let url = "http://localhost:8085/omiljeni/" + userid+ "/" + vrednost;
        $.get(url, function() { })



    }

</script>

</html>