<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Korisnici</title>
</head>
<body>

<h1></h1>

<table id="korisnici">
    <tr>
        <th>Uloga</th>
        <th>Korisnicko ime</th>
        <th>Lozinka</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Adresa</th>
       

        

    </tr>
    <tr th:each="korisnik : ${korisnici}">
        <td th:text="${korisnik.uloga}" id='pera'></td>
        <td th:text="${korisnik.korisnickoime}"></td>
        <td th:text="${korisnik.lozinka}"></td>
        <td th:text="${korisnik.ime}"></td>
        <td th:text="${korisnik.prezime}"></td>
        <td th:text="${korisnik.telefon}"></td>
        <td th:text="${korisnik.email}"></td>
        <td th:text="${korisnik.adresa}"></td>
       
    
        
    </tr>
    
</table>

<form> 
        Ime: <input type="text" id='ime'><br>
        Prezime: <input type="text" id='prezime' ><br>
        Telefon: <input type="text" id='telefon'><br>
        Email: <input type="text" id='email'><br>
        Adresa: <input type="text" id='adresa'><br>
        Korisnicko Ime:<input type="text" id='korisnicko'><br>
        Lozinka:<input type="text" id='lozinka'><br>
        Id: <input type="number" id='idnovi' placeholder="0" ><br>
        Uloga: <input type="text" id='uloga'><br>
</form>
<button
onclick="location.href = 'http://localhost:8085/delete/'+getElementById('idnovi').value;">Obrisi</button>
<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('idnovi').value+'/'+getElementById('ime').value;">Promeni Ime</button>
<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('idnovi').value+'/'+'1'+'/'+getElementById('prezime').value;">Promeni Prezime</button>
<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('idnovi').value+'/'+'1'+'/'+'1'+'/'+getElementById('email').value;">Promeni Email</button>
<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('idnovi').value+'/'+'1'+'/'+'1'+'/'+'1'+'/'+getElementById('korisnicko').value;">Promeni Korisnicko Ime</button>
<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('idnovi').value+'/'+'1'+'/'+'1'+'/'+'1'+'/'+'1'+'/'+getElementById('adresa').value;">Promeni Adresu</button>
<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('idnovi').value+'/'+'1'+'/'+'1'+'/'+'1'+'/'+'1'+'/'+'1'+'/'+getElementById('telefon').value;">Promeni Telefon</button>
<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('idnovi').value+'/'+'1'+'/'+'1'+'/'+'1'+'/'+'1'+'/'+'1'+'/'+'1'+'/'+getElementById('uloga').value;">Promeni Ulogu</button>

<button
onclick="location.href = 'http://localhost:8085/izmeni/'+getElementById('ime').value+'/'+getElementById('prezime').value+'/'+getElementById('email').value+'/'+getElementById('korisnicko').value+'/'+getElementById('telefon').value+'/'+getElementById('adresa').value+'/'+getElementById('uloga').value+'/'+getElementById('lozinka').value;">Dodaj novog</button>



</body>
</html>