<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta charset="utf-8"/>
</head>
<body>
<h2 style="text-align:center">Profil</h2>
<div class="card">
    <img alt="User" src="/images/user.png"/>
    <h1 th:text="${korisnik.ime}"></h1>
    <h1 th:text="${korisnik.prezime}"></h1>
    <p class="title" th:text="${korisnik.uloga}"></p>
    <br>
</div>
<a id="korisnici" th:href="${'/korisnici'}" style="text-align: center;">Back</a>

</body>
</html>