<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kategorije</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" th:href="@{/style/style.css}" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div>
        <ul class="top">
             <li>
                    <img th:src="@{/image/logo.png}">
                </div>
            </li>
        </ul>
    </div>

    <center>
       <h1>Korpe Prosle</h1>
        <table id="korisnici">
            
                <tr style="background-color: black; color: white;">
                    <th>Id</th>
                    <th>Status</th>
                    <th>Cena</th>
                    
                    
                </tr>
    
                <tr th:each="korpa: ${predhodne}">
                    <td th:text="${korpa.id}"></td>
                    <td th:text="${korpa.status}"></td>
                    <td th:text="${korpa.cena}"></td>
                </tr>

        </table>
        <h2>Svi kupljeni artikli</h2>
        <table id="korisnici">
            
                <tr style="background-color: black; color: white;">
                    <th>Naziv</th>
                    <th>Cena</th>
                    <th></th>
                    
                    
                </tr>
    
                <tr th:each="artikal: ${artikli}">
                    <td th:text="${artikal.naziv}"></td>
                    <td th:text="${artikal.cena}"></td>
                </tr>

        </table>   
    
                
                
        
                    
              
                    
                    

</html>