<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Kategorije</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" th:href="@{/style/style.css}" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div>
        <ul class="top">

            <li>
                <div class="dropdown">
                    <button class="dropbtn">Kategorije
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a th:href="@{/kategorije/Psihologija}">1.Popularna Psihologija</a>
                        <a th:href="@{/kategorije/Ljubavni}">2.Ljubavni Roman</a>
                        <a th:href="@{/kategorije/Kriminalistika}">3.Kriminalistika</a>
                        <a th:href="@{/kategorije/Biografija}">4.Biografija</a>

                    </div>
                </div>
            </li>
            <li>
                <div class="slika">
                    <img th:src="@{/image/logo.png}">
                </div>
            </li>
        </ul>
    </div>
    <center>
        <table>
            <h2>Korpa</h2>
            <div>

                <div id="korpa">

                </div>
            </div>

        </table>
    </center>
</body>
<script th:inline="javascript">


    // $('#'+id).on('keyup mouseup', function() {
    //     var kol = $("#"+id).val();
    //     alert(kol);

    // }).trigger('mouseup');

    $(document).ready(function () {
        var table = $("#korpa")
        $("#korpa").append(" <tr style=\"background-color: black; color: white;\">" +
                    "<th>Naziv</th>" +
                    "<th>Cena</th>"+
                    "<th>Kolicina</th>"+
                    "<th>Kategorija</th>"+
                    "<th>Izbaci</th>"+
                "</tr>"
        )



        var korpa = JSON.parse(localStorage.getItem("korpa"));
        var arr = Object.keys(korpa).map(function (x)  { return parseInt(x)})
        var i = 0
        
        for (i = 0 ; i < arr.length ;i++) {
            var test = {};
            var url = "http://localhost:8085/artikal/" + arr[i];
            $.get(url).done(function (data) {
                var rows = ''
                var arr = Object.keys(korpa).map(function (x)  { return parseInt(x)})
                var id = arr[i]
                rows += '<tr>'
                rows += '<td>' + data["naziv"] + '</td>';
                rows += '<td>' + data["cena"] + '</td>';
                rows += '<td>' + korpa[data["id"]] + '</td>';
                rows += '<td>' + data["kategorija"] + '</td>';
                rows += '<td>' +  '<input type="button" value="izbaci" id="" onclick="Korpa()"> </input>' + '</td>';
                rows += '</tr>'
                $("#korpa").append(rows)
            })
        }
    })
    function Izbaci() {
        
    

        
        let url = "http://localhost:8085/korpa"
        $.get(url, function() { })



    }


</script>

</html>