<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Pocetna strana</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h2>Korisnik nije pronadjen</h2>
      <a th:href="${'/registracija'}">Sign up</a>
      <a th:href="${'/login'}">Log in</a>
  </body>
</html>
